[Unit]
Description=MetaMind Server
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mm-dev
ExecStartPre=-/usr/bin/docker rm mm-dev
ExecStart=/usr/bin/docker run -t \
	--env-file=/mm/mm-tier-01.env \
	-v /mm/app:/home/node/app \
	--link mongodb:mongodb \
	--link rethinkdb:rethinkdb \
	--name=mm-dev \
	mm
ExecStop=-/usr/bin/docker stop mm-dev

[Install]
WantedBy=multi-user.target